body{
    background-color: black;
    color: white;
}

#div-container {
    width: 100%;
    /* height: 1px; */
    border: 2px dotted rgb(255, 255, 255);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    
}
#div-container2 {
    width: 100%;
    /* height: 1px; */
    border: 2px dotted black;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    
}
#div-container3 {
    width: 100%;
    /* height: 1px; */
    border: 2px dotted black;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    
}
#div-container4 {
    width: 100%;
    /* height: 1px; */
    border: 2px dotted black;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    
}

button {
    height: 100%;
}


#div2 {
    width: 10px;
    height: 10px;
    border: 2px solid greenyellow;
    border-radius: 10px;
    background-color: greenyellow;
    
}
#div3 {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    
}
#div4 {
    width: 10px;
    height: 10px;
    border: 2px solid red;
    border-radius: 10px;
    
}
#div1 {
    width: 10px;
    height: 10px;
    border: 2px solid red;
    border-radius: 10px;
    
}